.contact-container {
  background: linear-gradient(to right, #d6ccca, #eae8ca); /* Gradient background */
  padding: 50px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  background: linear-gradient(to right, #a98080, #2d1b1b); /* Gradient text */
  -webkit-background-clip: text; /* For Webkit-based browsers (Chrome, Safari) */
  background-clip: text; /* Standard property for other browsers */
  -webkit-text-fill-color: transparent; /* For Webkit-based browsers (Chrome, Safari) */
  color: transparent; /* Fallback for non-Webkit browsers */
}

p {
  font-size: 1.25rem;
  color: #333; /* Regular text color */
}

a {
  color: #feb47b; /* Link color */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
