.navbar {
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #2e2e2e, #228b22);
    padding: 10px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .navbar li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
  }
  